@import url(http://fonts.googleapis.com/css?family=Lato|Montserrat);
html {
  font-size: 137.5%;
  line-height: 1.63636em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #A7914F;
  text-decoration: none;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1em;
  line-height: 1.63636em;
  color: #A7914F;
}

#title {
  text-align: center;
}
#title h1 {
  font-size: 1.09091em;
  line-height: 1.5em;
  color: #A7914F;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
#title h1::after {
  content: "";
  height: 10px;
  background: #A7914F;
  display: block;
  width: inherit;
}

h3 {
  font-size: 0.90909em;
  line-height: 1.8em;
}

.footer {
  background: #d4d4d4;
  text-align: center;
}

.headline {
  font-size: 1.27273em;
  line-height: 1.28571em;
  text-align: center;
  color: #eee;
}

.description {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.63636em;
  color: #A7914F;
}

.slide {
  overflow: hidden;
  padding: 3.27273em 0 1.63636em;
}
.slide:first-child {
  background: #0F5F80;
  height: 100%;
}
.slide .inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.slide .inner:after {
  content: " ";
  display: block;
  clear: both;
}

.panel p {
  color: gray;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
}
ul li a.button {
  margin-right: 20px;
  background: #84733f;
  padding: 16px;
  color: #eee;
  -moz-box-shadow: #62552e 5px 5px 0;
  -webkit-box-shadow: #62552e 5px 5px 0;
  box-shadow: #62552e 5px 5px 0;
}

.frag {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.63636em;
  margin-bottom: 1.63636em;
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 1.90909em;
    line-height: 1.71429em;
    line-height: 1.63636em;
    text-align: left;
  }

  .description {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }

  .panel {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .panel:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
