doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1")

        title Tumblr Boilerplate - An HTML5 boilerplate Tumblr theme for rapid development

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
        link(rel='stylesheet', href='css/all.css')

        meta(description='description',content='An HTML5 boilerplate Tumblr theme for rapid development')
        meta(description='author',content='Dave Santos')
        meta(property='og:title',content='Tumblr Boilerplate')
        meta(property='og:site_name',content='Tumblr Boilerplate')
        meta(property='og:url',content='http://davesantos.github.io/tumblr-boilerplate/')
        meta(property='og:description',content='An HTML5 boilerplate Tumblr theme for rapid development')

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    body

        .slide
            .inner
                #title
                    h1 Tumblr Boilerplate
                h2.headline A fully functional bare-bones Tumblr theme that works out of the box.
                p.description Style it to your needs. The goal of the project was to remove uncessary code easing the development process.
                ul
                    li: a(href='https://github.com/davesantos/tumblr-boilerplate/archive/master.zip',class='button') Download 2.0
                    li: a(href='https://github.com/davesantos/tumblr-boilerplate',class='button') Source

        .slide: .inner
                h2 Features
                .panel
                    h3 Supports all post-types
                    p All essential post-types (Image, Video, Text, Link, etc.) are semantically structured
                .panel
                    h3 Localization Strings
                    p Select variables that appear in other Tumblr supported languages.
                .panel
                    h3 Normalize CDN
                    p The widely adopted CSS Normalize minified & hosted on a realiable delivery network.
        //- .slide: .inner
        //-     h2 Structure
        //-     p This diagram gives you basic idea of the structure inside the theme.
        //-     .frag header
        //-         .frag h1
        //-         .frag navigation
        //-     .frag .content
        //-         .frag Photo
        //-         .frag Video
        //-         .frag
        //-     .frag footer

        //- .slide: .inner
        //-     h2 Working with CSS locally.
        //-     h4 Using Task Runners to Inject Inline CSS
        //-     p This is a topic many developers would like to know about when working locally.

        //-     h4 Using Dropbox public folder

        .slide.footer: .inner
            p A project maintained by <a href="http://davesantos.com">Dave Santos</a> (<a href="https://twitter.com/davesantos">@davesantos</a>)
            p Contribute any pull requests you might find helpful for others.

        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="js/all.js")