doctype html
html(lang="en")
    head

        // Hey! Not even dinner & a movie?!

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        meta(name='description',content='An HTML5 boilerplate Tumblr theme for rapid development')
        meta(name="google-site-verification",content="eqXPygfiajji71g2EY99BVel-pdbBSQ3jZwC11Kyf5M")
        title Tumblr Boilerplate - An HTML5 boilerplate Tumblr theme for rapid development

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
        //- link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/all.css')
        meta(property='og:title',content='Tumblr Boilerplate')
        meta(property='og:site_name',content='Tumblr Boilerplate')
        meta(property='og:url',content='http://davesantos.github.io/tumblr-boilerplate/')
        meta(property='og:description',content='An HTML5 boilerplate Tumblr theme for rapid development')

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    body

        .slide
            .inner
                .boxit
                    h1#title Tumblr Boilerplate
                    h2.headline A fully functional bare bones Tumblr theme that works out of the box.

                .boxit
                    p.description A template with the uncessary code stripped to ease the development process. Style it to your needs.
                    ul.buttons
                        li: a(href='https://github.com/davesantos/tumblr-boilerplate/archive/master.zip',class='button') Download
                        li: a(href='https://github.com/davesantos/tumblr-boilerplate',class='button') Github
        .slide: .inner

                header
                    h3 Features
                .panel
                    h4 Supports all post-types
                    p All essential post-types (Image, Video, Text, Link, etc.) are semantically structured.
                .panel
                    h4 Localization Strings
                    p Select variables appear in other Tumblr supported languages to communicate across countries.
                .panel
                    h4 Normalize CDN
                    p The widely adopted CSS Normalize minified & hosted on a realiable delivery network.
        //- .slide: .inner
        //-     h2 Structure
        //-     p This diagram gives you basic idea of the structure inside the theme.
        //-     .frag header
        //-         .frag h1
        //-         .frag navigation
        //-     .frag .content
        //-         .frag Photo
        //-         .frag Video
        //-         .frag
        //-     .frag footer

        //- .slide: .inner
        //-     h2 Working with CSS locally.
        //-     h4 Using Task Runners to Inject Inline CSS
        //-     p This is a topic many developers would like to know about when working locally.

        //-     h4 Using Dropbox public folder

        .slide.footer: .inner
            p A project maintained by <a href="http://davesantos.com">Dave Santos</a> (<a href="https://twitter.com/davesantos">@davesantos</a>) under the MIT License.
            p Improve the project by sending your own pull request.

        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="js/all.js")