@import "base"
@import "mixins"

//Compass Typography
$base-font-size: 22px
$base-line-height: 36px
$rhythm-unit: em
+establish-baseline

$base-font-color: #000
$base-background-color: #eee
$color-accent: #A7914F
$color-stage: #0F5F80
$color-footer: darken($base-background-color, 10%)

*
	+box-sizing(border-box)

body
	// +container
	background: #eee
	font-family: 'Lato', sans-serif
	-webkit-font-smoothing: antialiased

a
	color: $color-accent
	text-decoration: none

img, video, object, embed
	max-width: 100%
	height: auto !important


h1,h2,h3,h4
	font-family: 'Montserrat', sans-serif

h2
	+adjust-font-size-to(22px)
	color: $color-accent

#title
	text-align: center
	h1
		+adjust-font-size-to(24px)
		color: $color-accent
		margin-left: auto
		margin-right: auto
		text-align: center
		text-transform: uppercase
		display: inline-block
		// +trailing-border(2px)
		&::after
			content: ''
			height: 10px
			background: $color-accent
			display: block
			width: inherit

h3
	+adjust-font-size-to(20px)

///////////////////////////////////////////////////////////////////
// Structure
///////////////////////////////////////////////////////////////////
.footer
	background: $color-footer
///////////////////////////////////////////////////////////////////
// Components
///////////////////////////////////////////////////////////////////
.headline
	+adjust-font-size-to(28px)
	text-align: center
	color: $base-background-color

.description
	+full
	margin-bottom: rhythm(1)
	color: $color-accent

.slide
	overflow: hidden
	padding: rhythm(2) 0 rhythm(1)
	&:first-child
		background: $color-stage
		height: 100%
	.inner
		+container
		padding-left: 16px
		padding-right: 16px
nav
	ul
		padding: 0
		li
			display: inline-block
			a.button
				margin-right: 20px
				background: darken($color-accent, 10%)
				padding: 16px
				color: $base-background-color
				+box-shadow(darken($color-accent, 20%) 5px 5px 0)

.frag
	background: rgba(255,255,255, 0.5)
	padding: rhythm(1)
	margin-bottom: rhythm(1)



// Tablet
@media only screen and (min-width: 768px)
	@import "_breakpoints/_768"
@media only screen and (min-width: 1030px)
@media only screen and (min-width: 1240px)
